.box {
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
body {
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
.boxHeader {
  z-index: 1;
  position: sticky;
  top: 0px;
  margin: 0rem 0rem 3rem 0rem;
  height: 2rem;
  padding: 10px;
  background: linear-gradient(
      217deg,
      rgba(255, 51, 51, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(57, 255, 57, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(46, 46, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.boxBody {
  padding: 0rem 3rem;
}
.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem 0rem;
  width: 100%;
}
.line {
  background: linear-gradient(
      217deg,
      rgba(255, 51, 51, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(57, 255, 57, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(46, 46, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 0.2rem;
  margin: 2rem 0rem;
}
.addedProductList {
  width: 100%;
  min-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.productInputs {
  width: 100%;
  border-radius: 0.3rem;
  background-color: white;
  padding: 0.7rem 1.2rem;
  margin: 0.5rem auto;
  box-sizing: border-box;
}
.productHeading {
}
