* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  min-height: fit-content;
  font-family: "PT Sans", sans-serif;
  border: none;
}
.btn {
  border-radius: 0.5rem;
  border: none;
}
.btn:hover {
  background-color: black;
  color: white;
  box-shadow: 1px 1px 3px 1px rgb(142, 142, 142);
}
.btnRadi {
  border-radius: 1rem;
  border: none;
}
body::-webkit-scrollbar {
  padding: 1rem;
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(236, 239, 244);
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
